<a href="https://colab.research.google.com/github/ZombieDaniel/Tratando-dados-do-clima-tempo/blob/main/tempo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando as bibliotecas
import pandas as pd
import statistics as sts

In [ ]:
#lendo a base de dados
df = pd.read_csv("dataset/tempo.csv", sep=";")

In [ ]:
#visualizando o data frame
df

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [ ]:
#verificando os valores nulos
df.isnull().sum()
#existe 1 valor nulo na coluna Umidade e 1 valor nulo na coluna Vento. Esses valores serão tratados adiante

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [ ]:
#agrupando os valores na coluna Aparencia e verificando ocorrência de valores indevidos
df.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [ ]:
#sol e chuva foram os valores mais frequentes (moda), poderá ser utilizado qualquer um deles para substituir o valor indevido 'menos'
df['Aparencia'].loc[df['Aparencia'] == 'menos'] = 'sol'

In [ ]:
#armazenando a mediana da coluna Temperatura em uma variavel para utiliza-la na substituição de valores outliers (fora da curva)
mediana = df['Temperatura'].median()
#verificando valores que estejam fora da curva
df['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

Utiliza-se a mediana ao invés da média, pois a média está sujeita a valores outliers, o que influencia no seu resultado.

In [ ]:
#utiliza-se a mediana para substituir valores acima de 130
df['Temperatura'].loc[df['Temperatura'] > 130] = mediana

In [ ]:
#armazenando uma nova mediana para a coluna Umidade em uma variavel
mediana1 = df['Umidade'].median()
#verificando valores que estejam fora da curva
df['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [ ]:
#inserindo a mediana nos valores nulos na coluna Umidade
df['Umidade'] = df['Umidade'].fillna(mediana1)
#corrigindo os valores fora da curva que estão acima de 100
df['Umidade'].loc[df['Umidade'] > 100] = mediana1

In [ ]:
#agrupando os valores da coluna Vento e verificando a quantidade de ocorrências para encontrar a moda
df.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [ ]:
#preenchendo os valores nulos na coluna Vento com a moda
df['Vento'] = df['Vento'].fillna('FALSO')

In [ ]:
#verificando se todos os valores na coluna Jogar estão corretos
df.groupby(['Jogar']).size()

Jogar
nao    5
sim    9
dtype: int64

In [ ]:
#visualização do data frame corrigido
df

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.0       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6        sol         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.0       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao